.count {
  display: flex;
  align-items: center;
  margin-bottom: 42px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;

  span {
    display: flex;
    color: $blue-second;
    font-weight: 400;
    font-size: 12px;
    margin-left: 10px;
    border: 1px solid $blue-second;
    border-radius: 4px;
    width: 74px;
    height: 30px;
    align-items: center;
    justify-content: center;
  }
}

.repo-item {
  display: flex;
}

.repo-info {
  margin-left: 8px;

  .name {
    color: $blue;
    font-size: 20px;
  }
}
