.user-info {
  margin: 43px 77px;
  width: 100%;

  .name {
    margin-top: 30px;
    font-size: 24px;
    line-height: 1;
  }

  .login {
    line-height: 1.5;
    color: #646464;
    margin-bottom: 16px;
  }
}
